<header>
  <mat-toolbar color="primary">
    <a routerLink="/" class="logo"><img class="logos" src="../../assets/img/Novel_Share_2.png" alt=""></a>
    <span class="example-spacer"></span>
    <a class="links side" routerLink="/"><i class="fas fa-home"></i>Home</a>
    <a class="links side" routerLink="/Editprofile"><i class="fas fa-address-card"></i>Profile</a>

    <a class="links side" routerLink="/auth/login" *ngIf="!user"><i class="fas fa-sign-in-alt"></i>Login</a>
    <div>
      <a class="links side" *ngIf="user" [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>{{ user.fullname }}
      </a>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf="user?.isAdmin" routerLink="/admin">admin</button>
        <button mat-menu-item (click)="logout()">logout</button>
      </mat-menu>
    </div>
  </mat-toolbar>
</header>
