<div class="img">
  <img src="https://cdn.discordapp.com/attachments/766228286354227220/770275267674374185/Novel_Share_2.png" alt="">
</div>

 <main>
   <section class="section section-shaped section-lg">
     <div class="shape shape-style-1 bg-gradient-default">

     </div>
     <div class="container pt-lg-md">
       <div class="row justify-content-center">
         <div class="col-lg-5">
           <div class="card bg-secondary shadow border-0">
             <div class="card-header bg-white pb-5">
               <!-- <div class="text-muted text-center" >
                 <small>Sign in with</small>
               </div> -->
               <div class="">
                 <span class="btn-inner--icon">
                  <i>
                    <!-- <img class="logo" src="../../../assets/img/imagegallery.png" alt="logo" > -->
                    <!-- <p>Image Gallery</p> -->
                   </i>
                 </span>
               </div>
               <div class="btn-wrapper text-center" style="margin-top: 37px;">
                   <span class="btn-inner--icon">
                     <h2 style="margin-top: revert;">Edit Profile</h2>
                     <!-- <i class="fas fa-users" ></i> -->
                     <img style="width: 70px; height: 70px;" src="https://media.discordapp.net/attachments/766228286354227220/770607173100634192/09973083-4784-4129-996c-825e431a35c0_200x200.png?width=180&height=180" alt="">

                   </span>
                 <!-- </a> -->
               </div>
             </div>
             <div class="card-body px-lg-5 py-lg-5">
               <div class="text-center text-muted mb-4">
                 <!-- <small>Or sign in with credentials</small> -->
               </div>
               <form role="form">

                 <!-- Name -->
                 <div  class="form-group mb-3">
                   <div style="justify-content: center;" class="input-group input-group-alternative">
                     <div class="input-group-prepend">
                       <!-- <span class="input-group-text"><i class="fas fa-at"></i></span> -->
                     </div>
                     <input class="form-control" placeholder="Name" type="Name">
                   </div>
                 </div>


                 <!-- Email -->
                 <div class="form-group">
                   <div style="justify-content: center;" class="input-group input-group-alternative">
                     <div class="input-group-prepend">
                       <!-- <span class="input-group-text"> <i class="fas fa-key"></i></span> -->
                     </div>
                       <input  class="form-control" placeholder="Email" type="Email">
                   </div>
                 </div>

                  <!-- Mobile number -->
                  <div class="form-group">
                  <div style="justify-content: center;" class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <!-- <span class="input-group-text"> <i class="fas fa-key"></i></span> -->
                    </div>
                      <input  class="form-control" placeholder="Mobile number" type="Mobile number">
                  </div>
                </div>

                <!-- Address -->
                <div class="form-group">
                  <div style="justify-content: center;" class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <!-- <span class="input-group-text"> <i class="fas fa-key"></i></span> -->
                    </div>
                      <input  class="form-control" placeholder="Address" type="Address">
                  </div>
                </div>

                 <div class="custom-control custom-control-alternative custom-checkbox">
                 </div>

                 <div class="text-center">
                   <button mdbBtn type="button" gradient="purple" rounded="true" mdbWavesEffect [routerLink]="['']">Submit</button>
                 </div>

               </form>
             </div>
            </div>
            <div class="row mt-3">
              <div class="col-6">
                <a href="javascript:void(0)" class="text-back">
                  <!-- <small [routerLink]="['/forgot-password']">Forgot password?</small> -->
                </a>
              </div>

            </div>
         </div>
       </div>
     </div>
   </section>
 </main>


