<div class="img">
  <img src="../../assets/img/Novel_Share_2.png" alt="">
</div>


<div class="over-lay">
  <h2 class="title">ชื่อ เรื่อง ??</h2>
  <!-- <a  placement="bottom" target="_blank"> -->

  <img src="https://images.pexels.com/photos/2988589/pexels-photo-2988589.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" style="border-radius: 8px;" >
  <!-- <div class="over-lay-text"> </div> -->
  <div class="text">
    In my younger and more vulnerable years my father gave me some advice that I've been turning over in my mind ever since. 'Whenever you feel like criticizing anyone,' he told me, 'just remember that all the people in this world haven't had the advantages that you've had.'
  </div>
<!-- </a> -->
</div>
