
<!-- Search form -->
<!-- <div class="search">
    <form class="form-inline md-form form-sm active-cyan-2">
      <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search"
      mdbInput>
      <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
    </form>
  </div> -->

  <div class="img">
    <img src="https://cdn.discordapp.com/attachments/766228286354227220/770275267674374185/Novel_Share_2.png" alt="">
  </div>



  <div>
    <div class="recommend">
      <p>แนะนำนิยาย</p>
    </div>

      <div class="over-lay">

        <a [routerLink]="['/Book']" placement="bottom" target="_blank">

        <img src="https://images.pexels.com/photos/2988589/pexels-photo-2988589.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" style="border-radius: 8px;" >
        <div class="over-lay-text">เรื่อง นิยาย??</div>
        <button class="over-lay-button" mdbBtn type="button" gradient="peach" rounded="true" mdbWavesEffect>อ่าน</button>
      </a>
    </div>

    <div class="over-lay">

      <a [routerLink]="['/Book']" placement="bottom" target="_blank">
      <img src="https://images.pexels.com/photos/2988589/pexels-photo-2988589.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" style="border-radius: 8px;" >
      <div class="over-lay-text">เรื่อง นิยาย??</div>
      <button class="over-lay-button" mdbBtn type="button" gradient="peach" rounded="true" mdbWavesEffect>อ่าน</button>
    </a>

  </div>

  <div class="over-lay">
    <a [routerLink]="['/Book']" placement="bottom" target="_blank">
      <img src="https://images.pexels.com/photos/2988589/pexels-photo-2988589.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" style="border-radius: 8px;" >
    <div class="over-lay-text">เรื่อง นิยาย??</div>
      <button class="over-lay-button" mdbBtn type="button" gradient="peach" rounded="true" mdbWavesEffect>อ่าน</button>
  </a>

  </div>
  <div class="over-lay">

    <a [routerLink]="['/Book']" placement="bottom" target="_blank">
      <img src="https://images.pexels.com/photos/2988589/pexels-photo-2988589.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" style="border-radius: 8px;" >
    <div class="over-lay-text">เรื่อง นิยาย??</div>
      <button class="over-lay-button" mdbBtn type="button" gradient="peach" rounded="true" mdbWavesEffect>อ่าน</button>
    </a>

  </div>
</div>
