


  <div class="img">
    <img src="../../assets/img/Novel_Share_2.png" alt="">
  </div>

  <app-search></app-search>

  <div>
    <div class="recommend">
      <p>แนะนำนิยาย</p>
    </div>

      <div class="over-lay">

        <a [routerLink]="['/Book']" placement="bottom" target="_blank">

        <img src="https://images.pexels.com/photos/2988589/pexels-photo-2988589.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" style="border-radius: 8px;" >
        <div class="over-lay-text">เรื่อง นิยาย??</div>
        <button class="over-lay-button" mdbBtn type="button" gradient="peach" rounded="true" mdbWavesEffect>อ่าน</button>
      </a>
    </div>

    <div class="over-lay">

      <a [routerLink]="['/Book']" placement="bottom" target="_blank">
      <img src="https://images.pexels.com/photos/2988589/pexels-photo-2988589.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" style="border-radius: 8px;" >
      <div class="over-lay-text">เรื่อง นิยาย??</div>
      <button class="over-lay-button" mdbBtn type="button" gradient="peach" rounded="true" mdbWavesEffect>อ่าน</button>
    </a>

  </div>

  <div class="over-lay">
    <a [routerLink]="['/Book']" placement="bottom" target="_blank">
      <img src="https://images.pexels.com/photos/2988589/pexels-photo-2988589.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" style="border-radius: 8px;" >
    <div class="over-lay-text">เรื่อง นิยาย??</div>
      <button class="over-lay-button" mdbBtn type="button" gradient="peach" rounded="true" mdbWavesEffect>อ่าน</button>
  </a>

  </div>
  <div class="over-lay">

    <a [routerLink]="['/Book']" placement="bottom" target="_blank">
      <img src="https://images.pexels.com/photos/2988589/pexels-photo-2988589.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" style="border-radius: 8px;" >
    <div class="over-lay-text">เรื่อง นิยาย??</div>
      <button class="over-lay-button" mdbBtn type="button" gradient="peach" rounded="true" mdbWavesEffect>อ่าน</button>
    </a>

  </div>
</div>
